on: 
  push:
    branches: [main]
  # This tool encourages you to run it on pull requests to test the deployment process.
  pull_request:

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write # If your deploy script that you write needs to push a git commit, git tag, or create a GitHub Release.
      pull-requests: write # If you enable pull request comments (they are enabled by default).
      id-token: write # required by jsr for publishing package 
    steps:
      - uses: actions/checkout@v4

      - name: Set up Deno
        uses: denoland/setup-deno@v1
        with:
          deno-version: v2.x
      
      - uses: levibostian/decaf@0.2.4
        env:
          # required to use 'gh' CLI in my step scripts. 
          GH_TOKEN: ${{ github.token }}      
        with:
          simulated_merge_type: 'rebase'
          github_token: ${{ secrets.GITHUB_TOKEN }}
          get_latest_release_current_branch: ./scripts/deployment-get-latest-release.ts
          get_next_release_version: ./scripts/deployment-get-next-release.ts
          deploy: ./scripts/deployment-deploy.ts